.fa-plus-circle:hover {
  color: #3273dc;
}

.fa-sort:hover {
  color: #3273dc;
}


.section.top-section {
  padding-top: 1rem;
}

.container.top-container {
  padding-top: 1rem;
}


.blue-highlight {
  color: #3273dc;
}

.breakable {
  word-wrap: break-word;
}
