.button.is-slide-out {
  border-width: 0px;
}

.button.is-slide-out:focus:not(:active) {
  box-shadow: none;
}

.field.needs-bottom-margin {
  margin-bottom: 0.75rem;
}

.dropdown.dropdown-is-fullwidth {
  width: 100%;
}

.dropdown-trigger.dropdown-is-fullwidth {
  width: 100%;
}

.dropdown-menu.dropdown-is-fullwidth {
  width: 100%;
}
