@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.app-title {
  font-family: 'Knewave', cursive;
}

.app-title:hover {
  color: #3273dc;
}

.title.app-title {
  font-size: 3rem;
}

@media screen and (max-width: 1024px) {
  .title.app-title {
    font-size: 1.5rem;
  }
}
