.fa-plus-circle:hover {
  color: #3273dc;
}

.fa-sort:hover {
  color: #3273dc;
}


.section.top-section {
  padding-top: 1rem;
}

.container.top-container {
  padding-top: 1rem;
}

.on-top {
  z-index: 30;
}
