.fa-plus-circle:hover {
  color: #3273dc;
}

.fa-sort:hover {
  color: #3273dc;
}

.section.top-section {
  padding-top: 0rem;
}

.container.top-container {
  padding-top: 1rem;
}


.navbar-dropdown.on-top {
  z-index: 100;
}
